<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.japangor.learntocode">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".overview" />
        <activity android:name=".basic" />
        <activity android:name=".elements" />
        <activity android:name=".attributes" />
        <activity android:name=".formating" />
        <activity android:name=".phrase" />
        <activity android:name=".comments" />
        <activity android:name=".images" />
        <activity android:name=".tables" />
        <activity android:name=".lists" />
        <activity android:name=".text" />
        <activity android:name=".email" />
        <activity android:name=".iframes" />
        <activity android:name=".marques" />
        <activity android:name=".backgrounds" />
        <activity android:name=".fonts" />
        <activity android:name=".forms" />
    </application>

</manifest>